<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div class="wrapper">
    <div class="header_box">
          <div class="container">
              <h2><span class="green">Department of</span> <span class="red">Strategic Policy,</span> Planning  & <br>Aid Coordination</h2>
            </div>
        </div>
        
        <div class="boby_menubox">
          <div class="container">
                <div class="bodymenu_tab">
                   <button><img src="../../assets/images/Soc-1.png"  alt=""></button>
                   <button><img src="../../assets/images/Soc-2.png"  alt=""></button>
                   <button><img src="../../assets/images/Soc-3.png"  alt=""></button>
                   <button><img src="../../assets/images/Soc-4.png"  alt=""></button>
                   <button><img src="../../assets/images/Soc-5.png"  alt=""></button>
                   <button><img src="../../assets/images/Soc-6.png"  alt=""></button>
                   <button><img src="../../assets/images/ENV-1.png"  alt=""></button>
                   <button><img src="../../assets/images/ENV-2.png"  alt=""></button>
                   <button><img src="../../assets/images/ENV-3.png"  alt=""></button>
                   <button><img src="../../assets/images/ENV-4.png"  alt=""></button>
                   <button><img src="../../assets/images/ENV-5.png"  alt=""></button>
                   <button><img src="../../assets/images/ECO-1.png"  alt=""></button>
                   <button><img src="../../assets/images/ECO-2.png"  alt=""></button>
                   <button><img src="../../assets/images/ECO-3.png"  alt=""></button>
                   <button><img src="../../assets/images/ECO-4.png"  alt=""></button>
                   
                 </div>
             
            </div>
        </div>
      </div>
</ion-content>
