.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.input_mn{
border: 1px red solid;
    border-radius: 21px;
    margin-bottom: 8px;
	}
	.btn_center{
	float: none;
    display: block;
    margin: 0px auto;
    width: 10%;
    margin-bottom: 10px;
	}